.bg-color-cart{
    background: #E6E6E6;
}
.cartBold{
    font-weight: 500;
    color: #696F74;
}
.empty-cart-img{
    width: 10% !important;
}
.min-hight{
    min-height: 80vh;
   
    
}
.custom-padding-left{
    padding-left: 1rem;
}

.border-right{
    border-right: 1px solid rgba(71, 71, 71, 0.288);
}
.bor-bottom{
    border-bottom: 1px solid rgba(71, 71, 71, 0.288);
}
.bor-top{
    border-top: 1px solid rgba(71, 71, 71, 0.288);
}
.fs-10{
    font-size: 12px;
    font-weight: 500;
    padding: 0;
    
}
.pos-card-rel{
    position: relative;
    top: -10px;
    color: rgb(116, 116, 116);
    font-size: 12px;
    font-weight: 500;
}
.pos-card-rel-3{
    position: relative;
    color: rgb(116, 116, 116);
    top: -22px;
    font-size: 12px;
    font-weight: 500;
}
.pos-card-rel-2{
    position: relative;
    color: rgb(116, 116, 116);
    top: -30px;
    font-size: 12px;
    font-weight: 500;
}
.pos-card-rel-4{
    position: relative;
    color: rgb(116, 116, 116);
    top: -40px;
    font-size: 12px;
    font-weight: 500;
}
.qty{
    font-weight: 500;
    outline: none;
    border-radius: 3px;
    font-size: 10px;
    color: green;
}
.product-cart-list-control{
   border:1px solid rgba(124, 124, 124, 0.445);
    padding: 2px;
    max-width: 99%;
    height: 130px;
    margin-bottom: 10px;
}
.control-offer{
    border:1px solid rgba(124, 124, 124, 0.445);
     padding: 2px;
     max-width: 99%;
     min-height: 130px;
     margin-bottom: 10px;
     transition: all .5s ease-in-out;
 }
 .w-90{
    width: 97%;
 }
 .opacity-show{
    opacity: 1;
 }
 .opacity-hide{
    opacity: 0;
 }
 .pay-hight{
 height:70px;
overflow: hidden;
 }
.place-order-btn{

    background-color: rgb(243, 9, 68);
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: white;
    border: none;
    padding: 5px 2px;
}
.rap-rev{
    flex-wrap: wrap-reverse;
}
.place-order-btn:hover{

    background-color: rgb(206, 2, 53);
}
.payment-button{
    border: none;
    color: #696f74;
    border-bottom:1px solid rgba(0, 0, 0, 0.082);
    font-weight: 500;
    padding: 10px 6px;
    background-color: rgba(61, 60, 60, 0.103);
}
.payment-button.active{
  
    background-color: white;
    border-left: 5px solid rgb(243, 9, 68);
    color:  rgb(243, 9, 68);;
}
.pointer{
    cursor: pointer;
}
.coupon-btn{
    border: 1px solid rgb(243, 9, 68);
    color: rgba(243, 9, 67, 0.527);
    background-color: transparent;
    padding: 3px;
    border-radius: 3px;
}

.myntra-text{
    color: rgb(243, 9, 68);
}
.bg-myntra-light{
background-color:  rgba(243, 9, 67, 0.192);
transition: all .5s ease-in-out
}
.empty-button{
    border: 1px solid rgb(243, 9, 68);
    color: rgb(243, 9, 68);
    background-color: transparent;
    padding: 5px 0px;
    font-weight: 500;
    transition: all .5s ease-in-out;
}
.form-check-input:checked {
    background-color: rgb(243, 9, 68);
    border-color: rgb(243, 9, 68);
}
.empty-button:hover{

    background-color: rgb(243, 9, 68);
   color: white;
}
.empty-container{
    height: 80vh;
}
.cur-price,.offer-price{
    color: rgb(243, 9, 68);
}
.pointer{
cursor: pointer;
}
@media (max-width:768px) {
    .product-cart-list-control{
         min-height: 170px;
         overflow-y: hidden;
      
     }
     .custom-padding-left{
        padding-left: 0;
     }

    .border-right{
    border-right: 1px solid rgba(71, 71, 71, 0);
}
    .w100{
       
        font-size: 10px;
    }
}